@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

:root {
    --max-width: 1200px;
    --doc-height: 100%;
    --nav-height: 100px;
    --border-radius: 25px;
    --background-color-rgb: 255, 255, 255;
    --text-color-rgb: 41, 41, 41;
    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
    --font-size-x2large: 2rem;
    --font-size-x3large: 3rem;
    --padding-inline-small: 0.5rem;
    --padding-inline-medium: 1rem;
    --padding-inline-large: 1.5rem;
    --padding-inline-xlarge: 2rem;
    --padding-inline-x2large: 4rem;
    --padding-block-small: 0.5rem;
    --padding-block-medium: 1rem;
    --padding-block-large: 2rem;
    --padding-block-xlarge: 4rem;
    --padding-block-x2large: 8rem;
    --gap-small: 0.5rem;
    --gap-medium: 1rem;
    --gap-large: 2rem;
    --gap-xlarge: 3rem;
    --gap-x2large: 4rem;
    --primary-color: #e74b4c !important;
    --secondary-color: #424242 !important;
    --accent-color: #ffe10b !important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Fredoka", sans-serif;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
    max-height: 100%;
}

body {
    color: var(--text-color-rgb);
    position: relative;
    margin-top: var(--nav-height);
    background-color: rgb(var(--background-color-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}

.brand-btn,
.brand-btn-grey {
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 17px !important;
}

.brand-btn {
    background-color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.brand-btn-grey {
    background-color: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color) !important;
}
.brand-btn:hover {
    background-color: transparent !important;
    color: var(--primary-color) !important;
}
.brand-btn-grey:hover {
    background-color: transparent !important;
    color: var(--scondary-color) !important;
}
.nav-link {
    color: var(--primary-color) !important;
    font-weight: 600 !important;
    font-size: 19px !important;
    transition: 0.25s ease-in-out;
}
.nav-link:hover {
    color: var(--secondary-color) !important;
}
