:root {
    --max-width: 1200px;
    --doc-height: 100%;
    --nav-height: 65px;
    --border-radius: 25px;
    --background-color-rgb: 255, 255, 255;
    --text-color-rgb: 41, 41, 41;
    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
    --font-size-x2large: 2rem;
    --font-size-x3large: 3rem;
    --padding-inline-small: 0.5rem;
    --padding-inline-medium: 1rem;
    --padding-inline-large: 1.5rem;
    --padding-inline-xlarge: 2rem;
    --padding-inline-x2large: 4rem;
    --padding-block-small: 0.5rem;
    --padding-block-medium: 1rem;
    --padding-block-large: 2rem;
    --padding-block-xlarge: 4rem;
    --padding-block-x2large: 8rem;
    --gap-small: 0.5rem;
    --gap-medium: 1rem;
    --gap-large: 2rem;
    --gap-xlarge: 3rem;
    --gap-x2large: 4rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
    max-height: 100%;
}

body {
    color: var(--text-color-rgb);
    position: relative;
    margin-top: var(--header-height);
    background-color: rgb(var(--background-color-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}
